{% extends 'base.html' %}

{% block title %}Current balance{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    Your money balance is: {{ money_list }}
    <p><a href="{% url 'logout' %}">logout</a></p>
    <h2>Submit new balance:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
{% else %}
    <p>You are not logged in. For using Finance Manager please log in.</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
